<div class="pages">
	<div class = "container">
		<div class ="row">
			<div class =" col-md-12">
				<h1 class = "text-success" align= "center"> Booking Successful </h1>
				<h2 align= "center">You booked flight #345 from (ORIGIN) to (DESTINATION).</h2>	
				<div align ="center">
					<div class = "col-md-6">
						<h3> Flight Details</h3>
						<p>Airline:</p>
						<p>From:</p>
						<p>To:</p>
						<p>Take off date:</p>
						<p>Landing Date:</p>
						<p>No of seats reserved:</p>
						<p>Price:</p>
					</div>
					<div class = "col-md-6">
						<h3> Passenger Details</h3>
						<p>Name</p>
						<p>Email</p>
						<p>Seat Number</p>
					</div>
				</div>
				<div class = "col-md-12">
						<div class="panel panel-default ">
			  <div class="panel-heading">
			    <h3 class="panel-title">Disclaimer</h3>
			  </div>
			  <div class="panel-body">
			    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>

			    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>