<div class= "welcome-txt" >
  <% if current_user %>
  	<h1 class="pull-left">Welcome</h1>
  	<br>
    <h4 class="pull-right" ><%= current_user.name %></h4>
  <% else %>
  <h1 class="pull-left" > Welcome </h1>
  <br>
  <h4 class ="pull-right">Please Sign Up or Login via the login button</h4>

  <% end %>
</div>