// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pages{
  margin-top: 80px;
  position: relative;
  margin-bottom: 80px;
} 
.home_result{
   margin-bottom: 80px;
}

.slider{
  position: relative;
}
.welcome-txt{

  position: absolute;
  color: #fff;
  top: 240px;
  background: linear-gradient(rgba(0,0,0,.8) 30%, rgba(0,0,0,.8) 30%);
  margin-left: 15px;  
  margin-right: 15px;
  left: 90px;  
  padding-left: 40px;
  border-radius: 20px;
  padding-right: 40px;
  width: auto;
}

.flight-list{
  border-bottom: solid 5px #2E9AFE;
  border-radius: 10px;
}
.navi{
  background-color: #000;
  border-bottom: 10px solid #2E9AFE;
  padding-left: 25px;
  padding-right: 25px;

}
.logo{
  font-size: 30px;
  color: #fff;
  font-family: sans-serif;
}
.home_search{
  position: absolute;
  top: 350px;
  background: linear-gradient(rgba(0,0,0,.8) 50%, rgba(0,0,0,.8) 70%);
  margin-left: 15px;  
  margin-right: 15px;
  left: 90px;  
  border-radius: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 40px;
  width: auto;
}
.profile{
  border-radius: 30px;
  border-left: solid 2px #2E9AFE;
  border-right: solid 2px #2E9AFE;
  padding: 15px;
}
.boxx{
  height: 40px;
}

.search_txt{
  color: #fff;
}

.user-img{
  width: 200px;
  border-bottom: solid 5px #2E9AFE;
}

.footer{
  padding: 20px;
  background-color: #000;
  color: #fff;
  margin-bottom: -10px;
  margin-top: 100px;
}

.fix{
  position: relative;
}

.flight_search{
  margin: 10px;
}

.flight_table{
  margin-left: 0px;
  border-bottom: solid 5px #2E9AFE;
  border-radius: 10px; 
}

.search_airline{
  margin-top: 20px;
}
.search_price{
  margin-top: 40px;
}
.all_flight{
  margin:5px 50px ;
}
.alt{
    position:absolute;
    right:0;
    margin-top: 0;
}
.booking_list{
  list-style-type: none;
  margin-left: 0;
}
.tell{
  color: #fff;
}

body{
  height: 100%; 
}
.im{
  width: 50px;
  border: solid 2px #2E9AFE;
}