<nav class="navbar navbar-fixed-top navi">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo btn btn-link" href="/">Fly</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/flights" class = "btn btn-link">All Flights</a></li>
        <% if current_user %>
          <li> <%=image_tag(current_user.image, class: "img-circle im")  %></li>
         <li> <a class = "btn btn-link disabled"> <%= current_user.name.split(" ").last %></a></li>
          <li > <%= link_to "Sign Out", sign_out_path, method: :delete, class: "btn btn-link" %></li>
        <% else %>
          <li><a data-toggle="modal" data-target=".bs-example-modal-sm" class = "btn btn-link">Login</a></li>
        <% end %> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="modal  fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Login</h5>
      </div>
        <div class = "modal-body">
       
          <div class="form-group">
           <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
             </div>
           <div class="form-group">
            <input type="password" class="form-control" id="inputEmail3" placeholder="Password">
              </div>
              <div class="form-group">
               <a class="btn btn-info active" href="#">Login</a>
              </div>
              <p><hr></p>
             <div align = "center">
             <h5> Or Login with</h5>
          <a class="btn btn-primary active" href="/auth/facebook">Facebook</a>
           <a class="btn btn-danger active" href="#">Google </a>
        </div>
        </div>
    </div>
  </div>
</div>
